body {
    font: 1em/2em Arial, Helvetica, sans-serif;
    background-color: #EDEDED;
}

h3 {
    color:blue;
    border-bottom: 1px solid #929CA4 ;
}

p:first-of-type::first-letter{
    font-size: 30px;
}

.solution {
    color: #CC1C0D ;
    font-weight: bold;
}

#testimonial1, #testimonial2 {
    font-style: italic;
    margin: 50px;
}

a[href^='http']:link { 
    color: brown;
    text-decoration: wavy;
}

a[href^='http']:visited { 
    color: pink;
    text-decoration: line-through;
}

a[href^='http']:active {
    color: purple;
    text-decoration: none;
}
 
a[href^='http']:hover {
    color: coral;
    text-decoration: double;
}

ul {
    list-style-type: none;
}

ul li:first-of-type {
    color: blue;
}

ul li:last-of-type {
    color: red;
}