body {
    width:960px;
    font: 1em/2em Arial, Helvetica, sans-serif;
}

ul:first-of-type {
    list-style-type: none;
    padding:0%
}

h2 {
    color: #CC1C0D;
    background-color: #DFE3E6 ;
    border: 1px solid #929CA4 ;
    padding-left: 10px;
    border-radius: 5px;
}

a {
    color: #CC1C0D ;
}

img[src*='head_'] {
    float: left;
    border-radius: 50px;
    border: 2px solid #CC1C0D;
}

img[src*='logo_'] {
    float: left;
}

.table {
    float: left;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 14.5em;
}

.pricing div:nth-child(1) h3 {
    border-top: 1px solid #CC1C0D ;
    border-width: 10px;
}

.pricing div:nth-child(2) h3 {
    border-top: 1px solid #37A4A4 ;
    border-width: 10px;
}

.pricing div:nth-child(3) h3 {
    border-top: 1px solid #685288 ;
    border-width: 10px;    
}
.pricing div:nth-child(4) {
    padding-top: 25px;
}

.pricing div:nth-child(4) h3 {
    border-top: 1px solid #000000 ;
    border-width: 10px;  
}